.news .media {
    border-bottom: 1px solid #9e9e9e
}

.news .media img {
    width: 5rem
}

.researches li,
.studies li {
    margin-top: 1.2rem
}

.no-border {
    border: none;
    background: none;
}

.skip-content-link {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
}

.skip-content-link:focus {
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
}
